.story{
    width:75%;
    margin:0 auto;
    box-shadow:0 3rem 6rem rgba($black,.1);
    background-color:rgba($white,.6);
    border-radius:.3rem;
    padding:6rem;
    padding-left:9rem;
    font-size:1.6rem;
    transform:skewX(-12deg);
    @include respond(phone){
        transform:skewX(0);
    }
    .story-shape{
        width:15rem;
        height:15rem;
        float:left;
        shape-outside: circle(50% at 50% 50%);
        clip-path:circle(50% at 50% 50%);//radius x-axis y-axis
        transform:translate(-3rem) skewX(12deg);
        position:relative;
        overflow:hidden;
        @include respond(phone){
            transform:translate(-3rem) skewX(0) !important;
        }
        .story-img{
            height:100%;
            transform:translateX(-4rem) scale(1.4);
            transition: all .2s;
        }
        .story-caption{
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            color:$white;
            font-size:1.7rem;
            text-align:center;
            text-transform: uppercase;
            opacity:0;
            transition: all .2s;
        }
    }
        .story-text{
            transform:skewX(12deg);
            @include respond(phone){
                transform:skewX(0);
            }
       }
       &:hover .story-caption{
           opacity:1;
       }
       &:hover .story-img{
        transform:scale(1);
        filter:blur(.3rem) brightness(80%);
    }
}