.center-text{
    text-align:center;
}
.margin-btm-6{
    margin-bottom:6rem;
}
.margin-btm-sm{
    margin-bottom: 1.5rem;
}
.margin-top-huge{
    margin-top:6rem;
}
.placing{
    margin-left:11%;
    margin-top:5rem;
}
