/*header*/
.header{
    position:relative;
    height: 95vh;
    background-image: linear-gradient(to right bottom,rgba($primary-color-light, 0.5),$primary-color),url(../img/hero.jpg);
    background-size:cover;
    background-position: top;
    clip-path: polygon(0 0,100% 0,100% 80%,0 100%);  
}